@import '../../themes/src/default.css';

:root {
    --form-control-box-shaddow: 0 0 0 1px var(--color-light-border-underline);
    --form-control-bg-color: transparent;
    --form-control-color: var(--color-light-text-primary);
    --form-control-label-color: var(--color-light-text-secondary);
    --form-control-hint-color: var(--color-light-text-secondary);

    /* disabled */
    --form-control-disabled-bg-color: var(--color-light-bg-primary-inverted-alpha-15);
    --form-control-disabled-color: var(--color-light-text-secondary);

    /* focus */
    --form-control-focus-box-shaddow: 0 0 0 3px var(--color-light-bg-accent);
    --form-control-focus-bg-color: transparent;

    /* hover */
    --form-control-hover-box-shaddow: 0 0 0 1px var(--color-light-bg-accent);
    --form-control-hover-bg-color: transparent;

    /* error */
    --form-control-error-color: var(--color-light-text-negative);
    --form-control-error-label-color: var(--color-light-text-secondary);
    --form-control-error-box-shadow: 0 0 0 1px var(--color-light-text-negative);
}

.component {
    color: var(--form-control-color);
}

.inner {
    box-shadow: var(--form-control-box-shaddow);
    background-color: var(--form-control-bg-color);
}

.label {
    color: var(--form-control-label-color);
}

.hint {
    color: var(--form-control-hint-color);
}

/* DISABLED STATE */

.disabled {
    box-shadow: var(--form-control-box-shaddow);
    background-color: var(--form-control-disabled-bg-color);
    color: var(--form-control-disabled-color);
}

/* FOCUS STATE */

.focused.inner {
    box-shadow: var(--form-control-focus-box-shaddow);
    background-color: var(--form-control-focus-bg-color);
}

/* HOVER STATE */

.inner:not(.disabled):hover {
    box-shadow: var(--form-control-hover-box-shaddow);
    background-color: var(--form-control-hover-bg-color);
}

.focused.inner:hover {
    box-shadow: var(--form-control-focus-box-shaddow);
}

/* ERROR STATE */

.error {
    color: var(--form-control-error-color);
}

.hasError .label {
    color: var(--form-control-error-label-color);
}

.hasError {
    box-shadow: var(--form-control-box-shaddow);
}

.hasError:hover {
    box-shadow: var(--form-control-error-box-shadow);
}
